In [3]:
import pandas as pd
import numpy as np
import altair as alt
import altair as alt
from vega_datasets import data

## Частина №3

1. Побудуйте звичайну лінійну діаграму на основі  pd.DataFrame з двома стовпцями за допомогою бібліотеки Altair для функції y=x cos⁡x для значень x в діапазоні від 0 до 99. Додайте відповідні мітки для вісей x та y на діаграмі. Підпишіть вісі і назву графіку.

In [ ]:

# Створення DataFrame зі значеннями x та y
x_values = np.arange(0, 100, 1)
y_values = x_values * np.cos(x_values)
df = pd.DataFrame({'x': x_values, 'y': y_values})

# Побудова лінійної діаграми за допомогою Altair
chart = alt.Chart(df).mark_line().encode(
    x='x',
    y='y'
).properties(
    title='Графік функції y = x * cos(x)',
    width=500,  # Ширина графіку
    height=300  # Висота графіку
).configure_axis(
    labelFontSize=12,  # Розмір шрифту для міток на вісі
    titleFontSize=14  # Розмір шрифту для заголовків вісей
)

chart.show()

Displaying chart at http://localhost:62331/

2.	Створіть горизонтальну діаграму з мітками на основі даних про врожайність пшениці (data.wheat()) за допомогою бібліотеки  Altair. Задайте вісь x для врожайності пшениці, вісь y для років, а текстові мітки відображайте значення врожайності пшениці на відповідних роках.

In [ ]:

wheat = data.wheat()

chart = alt.Chart(wheat).mark_bar().encode(
    x='wheat:Q',  # Ось X - врожайність пшениці
    y='year:O',  # Ось Y - роки
    text='wheat:Q'  # Текстові мітки, що відображають значення врожайності пшениці
).properties(
    title='Врожайність пшениці за роками',
    width=500,  # Ширина графіку
    height=300  # Висота графіку
).configure_axis(
    labelFontSize=12,  # Розмір шрифту для міток на вісі
    titleFontSize=14  # Розмір шрифту для заголовків вісей
)

chart.show()

3.	Побудуйте гістограму із від'ємними значеннями на основі даних про зміни в зайнятості в США (data.us_employment()) за допомогою бібліотеки Altair. Вісь x відповідає місяцям, вісь y відображає зміни в зайнятості (nonfarm_change). Використовуйте два різних кольори для відображення від'ємних та додатних значень змін в зайнятості. Встановіть ширину діаграми на 500 пікселів.

In [1]:

employment_data = data.us_employment()

chart = alt.Chart(employment_data).mark_bar(
).encode(
    x=alt.X('month:N', title='Місяць'),  # Ось X - місяці
    y=alt.Y('nonfarm_change:Q', title='Зміни в зайнятості'),  # Ось Y - зміни в зайнятості
    color=alt.condition(alt.datum.nonfarm_change > 0,
    alt.value('steelblue'),
    alt.value('orange'))  # Кольори для додатних та від'ємних значень
).properties(
    width=500  # Ширина графіку
).configure_axis(
    labelFontSize=12,
    titleFontSize=14
)

chart.show()

Displaying chart at http://localhost:65093/

4.	Побудуйте гістограму з групуванням на основі даних про врожай ячменю (data.barley()). Вісь x представляє роки, вісь y відображає сумарний врожай (yield), кольорова шкала вказує на різні роки, а групування (стовпці) відбувається за різними місцями (site).

In [6]:

barley_data = data.barley()

chart = alt.Chart(barley_data).mark_bar().encode(
    x=alt.X('year:O', title='Рік'),  # Ось X - роки
    y=alt.Y('sum(yield):Q', title='Сумарний врожай'),  # Ось Y - сумарний врожай
    color='year:N',  # Кольорова шкала для різних років
    column='site:N'  # Групування (стовпці) за різними місцями
).properties(
    width=600  # Ширина графіку
).configure_axis(
    labelFontSize=12,  # Розмір шрифту для міток на вісі
    titleFontSize=14  # Розмір шрифту для заголовків вісей
).configure_header(
    titleFontSize=16  # Розмір шрифту для заголовку графіку
)

chart.show()

Displaying chart at http://localhost:65093/

5.	Створіть багатошарову діаграму на основі даних про виробництво електроенергії в штаті Айова (data.iowa_electricity()). Вісь x представляє роки, вісь y відображає чисте виробництво електроенергії (net_generation), а кожен шар діаграми позначає різні джерела енергії (source). Встановіть прозорість (opacity) для стовпців на рівні 0.7.

In [7]:
iowa_data = data.iowa_electricity()

chart = alt.Chart(iowa_data).mark_bar(opacity=0.7).encode(
    x=alt.X('year:O', title='Рік'),  # Ось X - роки
    y=alt.Y('net_generation:Q', title='Чисте виробництво електроенергії'),  # Ось Y - чисте виробництво електроенергії
    color='source:N'  # Кожен шар діаграми позначає різні джерела енергії
).properties(
    width=600  # Ширина графіку
).configure_axis(
    labelFontSize=12,  # Розмір шрифту для міток на вісі
    titleFontSize=14  # Розмір шрифту для заголовків вісей
).configure_legend(
    titleFontSize=14  # Розмір шрифту для заголовку легенди
)

chart.show()

Displaying chart at http://localhost:65093/

6.	Побудуйте лінійний графік з маркерами на основі даних про акції (data.stocks()) . Вісь x представляє дати, вісь y відображає ціни акцій (price), а кожен графік позначається символом (symbol). Встановіть маркери як неповні, заповнюючи їх білим кольором, та використовуйте різні кольори для різних символів акцій.

In [12]:
stocks_data = data.stocks()

chart = alt.Chart(stocks_data).mark_line(point={'filled': True, 'fill': 'white'}, size=2).encode(
    x=alt.X('date:T', title='Дата'),  # Ось X - дати
    y=alt.Y('price:Q', title='Ціна акцій'),  # Ось Y - ціни акцій
    color='symbol:N'  # Кожен графік позначається символом акції
).properties(
    width=600,  # Ширина графіку
    height=300  # Висота графіку
).configure_axis(
    labelFontSize=12,  # Розмір шрифту для міток на вісі
    titleFontSize=14  # Розмір шрифту для заголовків вісей
).configure_legend(
    titleFontSize=14  # Розмір шрифту для заголовку легенди
)

chart.show()

Displaying chart at http://localhost:65093/

7.	Створіть діаграму розсіювання для двовимірної гістограми на основі даних про фільми (data.movies.url). Вісь X відображає рейтинг фільмів на IMDB (IMDB_Rating), вісь Y відображає рейтинг фільмів на Rotten Tomatoes (Rotten_Tomatoes_Rating).

In [13]:
movies_data = data.movies.url

scatterplot = alt.Chart(movies_data).mark_circle(size=60).encode(
    x=alt.X('IMDB_Rating:Q', title='IMDB Рейтинг'),  # Ось X - рейтинг фільмів на IMDB
    y=alt.Y('Rotten_Tomatoes_Rating:Q', title='Rotten Tomatoes Рейтинг'),  # Ось Y - рейтинг фільмів на Rotten Tomatoes
    color=alt.Color('count()', scale=alt.Scale(scheme='viridis'), title='Кількість фільмів'),  # Кольори вказують на кількість фільмів
).properties(
    width=600,  # Ширина графіку
    height=400  # Висота графіку
).configure_axis(
    labelFontSize=12,  # Розмір шрифту для міток на вісі
    titleFontSize=14  # Розмір шрифту для заголовків вісей
).configure_legend(
    titleFontSize=14  # Розмір шрифту для заголовку легенди
)

chart.show()

Displaying chart at http://localhost:65093/

## Частина №4

Вивести перші 5 та останні 5 рядків датасету.

In [18]:
df = pd.read_csv("Global_Education.csv", encoding='latin-1')
df.head()

,Countries and areas,Latitude,Longitude,OOSR_Pre0Primary_Age_Male,OOSR_Pre0Primary_Age_Female,OOSR_Primary_Age_Male,OOSR_Primary_Age_Female,OOSR_Lower_Secondary_Age_Male,OOSR_Lower_Secondary_Age_Female,OOSR_Upper_Secondary_Age_Male,...,Primary_End_Proficiency_Reading,Primary_End_Proficiency_Math,Lower_Secondary_End_Proficiency_Reading,Lower_Secondary_End_Proficiency_Math,Youth_15_24_Literacy_Rate_Male,Youth_15_24_Literacy_Rate_Female,Birth_Rate,Gross_Primary_Education_Enrollment,Gross_Tertiary_Education_Enrollment,Unemployment_Rate
0,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,44,...,13,11,0,0,74,56,32.49,104.0,9.7,11.12
1,Albania,41.153332,20.168331,4,2,6,3,6,1,21,...,0,0,48,58,99,100,11.78,107.0,55.0,12.33
2,Algeria,28.033886,1.659626,0,0,0,0,0,0,0,...,0,0,21,19,98,97,24.28,109.9,51.4,11.70
3,Andorra,42.506285,1.521801,0,0,0,0,0,0,0,...,0,0,0,0,0,0,7.20,106.4,0.0,0.00
4,Angola,11.202692,17.873887,31,39,0,0,0,0,0,...,0,0,0,0,0,0,40.73,113.5,9.3,6.89

Вивести основну статистичну інформацію про числові стовпці, таку як середнє значення, медіану, мінімум, максимум.

In [20]:
df.describe()

,Latitude,Longitude,OOSR_Pre0Primary_Age_Male,OOSR_Pre0Primary_Age_Female,OOSR_Primary_Age_Male,OOSR_Primary_Age_Female,OOSR_Lower_Secondary_Age_Male,OOSR_Lower_Secondary_Age_Female,OOSR_Upper_Secondary_Age_Male,OOSR_Upper_Secondary_Age_Female,...,Primary_End_Proficiency_Reading,Primary_End_Proficiency_Math,Lower_Secondary_End_Proficiency_Reading,Lower_Secondary_End_Proficiency_Math,Youth_15_24_Literacy_Rate_Male,Youth_15_24_Literacy_Rate_Female,Birth_Rate,Gross_Primary_Education_Enrollment,Gross_Tertiary_Education_Enrollment,Unemployment_Rate
count,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,...,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000
mean,25.081422,55.166928,19.658416,19.282178,5.282178,5.569307,8.707921,8.831683,20.292079,19.975248,...,10.717822,10.376238,25.787129,24.450495,35.801980,35.084158,18.914010,94.942574,34.392574,6.000000
std,16.813639,45.976287,25.007604,25.171147,9.396442,10.383092,13.258203,14.724717,21.485592,23.140376,...,24.866101,22.484423,33.181384,31.965467,45.535186,45.249643,10.828184,29.769338,29.978206,5.273136
min,0.023559,0.824782,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,11.685062,18.665678,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.250000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.355000,97.200000,9.000000,2.302500
50%,21.207861,43.518091,9.000000,7.000000,1.000000,1.000000,2.000000,2.000000,15.000000,12.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17.550000,101.850000,24.850000,4.585000
75%,39.901792,77.684945,31.000000,30.000000,6.000000,6.750000,12.750000,10.750000,32.750000,30.000000,...,0.000000,0.000000,56.750000,50.750000,94.000000,96.750000,27.692500,107.300000,59.975000,8.655000
max,64.963051,178.065032,96.000000,96.000000,58.000000,67.000000,61.000000,70.000000,84.000000,89.000000,...,99.000000,89.000000,89.000000,94.000000,100.000000,100.000000,46.080000,142.500000,136.600000,28.180000

Знайти середнє значення та стандартне відхилення для кількох числових стовпців, таких як ' Longitude', 'Birth_Rate'.

In [23]:
numeric_columns = ['Longitude', 'Birth_Rate']

mean_values = df[numeric_columns].mean()

std_values = df[numeric_columns].std()

print("Середнє значення:\n", mean_values)
print("\nСтандартне відхилення:\n", std_values)

Середнє значення:
 Longitude     55.166928
Birth_Rate    18.914010
dtype: float64

Стандартне відхилення:
 Longitude     45.976287
Birth_Rate    10.828184
dtype: float64

Визначити країну з найвищим та найнижчим рівнем безробіття ('Unemployment_Rate').

In [27]:
max_unemployment = df.loc[df['Unemployment_Rate'].idxmax()]['Countries and areas']
min_unemployment = df.loc[df['Unemployment_Rate'].idxmin()]['Countries and areas']

print(f"Країна з найвищим рівнем безробіття: {max_unemployment}")
print(f"Країна з найнижчим рівнем безробіття: {min_unemployment}")

Країна з найвищим рівнем безробіття: South Africa
Країна з найнижчим рівнем безробіття: Andorra

Вивести унікальні значення стовпця 'Countries and areas'.

In [29]:
df['Countries and areas'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Australia', 'Austria', 'Azerbaijan', 'The Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'British Virgin Islands', 'Brunei', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cape Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Republic of the Congo', 'Cook Islands',
       'Costa Rica', 'Ivory Coast', 'Croatia', 'Cuba', 'Cyprus',
       'Czech Republic', 'North Korea',
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'The Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea0Bissau', 'Guyana', 'Haiti',
       'Vatican City', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Republic of Ireland', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Federated States of Micronesia', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'North Macedonia',
       'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'South Korea', 'Moldova', 'Romania', 'Russia',
       'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Palestinian National Authority', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Tajikistan',
       'Thailand', 'East Timor', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'Tanzania',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela',
       'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

Порахувати кількість країн у датасеті.

In [30]:
df['Countries and areas'].nunique()

202

Побудувати графік розсіювання між 'Gross_Primary_Education_Enrollment' та 'Gross_Tertiary_Education_Enrollment'.

In [32]:
scatterplot = alt.Chart(df).mark_circle().encode(
    x='Gross_Primary_Education_Enrollment:Q',
    y='Gross_Tertiary_Education_Enrollment:Q',
    tooltip=['Countries and areas:N', 'Gross_Primary_Education_Enrollment:Q', 'Gross_Tertiary_Education_Enrollment:Q']
).properties(
    width=600,
    height=400
).configure_axis(
    labelFontSize=12,
    titleFontSize=14
)

scatterplot.show()

Displaying chart at http://localhost:65093/

Порівняти рейтинги грамотності чоловіків та жінок ('Youth_15_24_Literacy_Rate_Male' та 'Youth_15_24_Literacy_Rate_Female') за допомогою горизонтальної стовпчастої діаграми.

In [34]:

bar_chart_male = alt.Chart(df).mark_bar().encode(
    y=alt.Y('Countries and areas:N', sort='-x'),
    x='Youth_15_24_Literacy_Rate_Male:Q',
    color=alt.value('blue'),
    tooltip=['Countries and areas:N', 'Youth_15_24_Literacy_Rate_Male:Q']
).properties(
    width=600,
    height=400,
    title='Рейтинг грамотності чоловіків (Youth_15_24_Literacy_Rate_Male)'
)

bar_chart_male.show()

Displaying chart at http://localhost:65093/

In [36]:
bar_chart_female = alt.Chart(df).mark_bar().encode(
    y=alt.Y('Countries and areas:N', sort='-x'),
    x='Youth_15_24_Literacy_Rate_Female:Q',
    color=alt.value('pink'),
    tooltip=['Countries and areas:N', 'Youth_15_24_Literacy_Rate_Female:Q']
).properties(
    width=600,
    height=400,
    title='Рейтинг грамотності чоловіків (Youth_15_24_Literacy_Rate_Female)'
)

bar_chart_female.show()

Displaying chart at http://localhost:65093/

In [38]:
final_chart = (bar_chart_female + bar_chart_male).properties(width=600)
final_chart.show()

Displaying chart at http://localhost:65093/

Створити новий стовпець 'Total_Literacy_Rate', який буде представляти загальний рейтинг грамотності для кожної країни.

In [40]:
df['Total_Literacy_Rate'] = (df['Youth_15_24_Literacy_Rate_Male'] + df['Youth_15_24_Literacy_Rate_Female']) / 2

df[['Countries and areas', 'Total_Literacy_Rate']].head()

  Countries and areas  Total_Literacy_Rate
0         Afghanistan                 65.0
1             Albania                 99.5
2             Algeria                 97.5
3             Andorra                  0.0
4              Angola                  0.0

Визначити країну з найвищим загальним рейтингом грамотності.

In [41]:
df.loc[df['Total_Literacy_Rate'].idxmax()]['Countries and areas']

'Belarus'

In [43]:
bar_chart = alt.Chart(df).mark_bar().encode(
    x='Total_Literacy_Rate:Q',
    y=alt.Y('Countries and areas:N', sort='-x'),
    tooltip=['Countries and areas:N', 'Total_Literacy_Rate:Q'],
    color=alt.value('skyblue')
).properties(
    width=600,
    height=400
)

bar_chart.show()

Displaying chart at http://localhost:65093/